.column {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.column ul {
  padding: 0;
}

.category-box,
.question-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 90px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 10px;
}

.question-box {
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}
